[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=OpenLDev
GenericName=OpenLDev
Comment=Integrated Development Environment (IDE)
Exec=openldev
Icon=/usr/share/pixmaps/openldev/openldev48.png
Terminal=false
Categories=Application;Development;
